@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager




<div class="container">
    <div class="section">
        <div class="row">

            <div class="details-box mb-5 pb-5 col-md-8 offset-md-2">

                <nav class="recruit-breadcrumb w-50" aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item"><a class="not-active" href="/RecruitZone/Index">RecruitZone</a></li>
                        <li class="breadcrumb-item"><a class="not-active" href="/Recruiters/All">Recruiters</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>

                <div class="text-center mt-5">
                    <h2 id="tables">Recruiter Details</h2>
                </div>

                <div class="card text-center">
                    <div class="card-header">
                        <h2 class="card-title">@Model.Name </h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="text-black-50">Email: </span> @Model.Epost</li>
                            <li class="list-group-item"><span class="text-black-50">Country: </span> @Model.Country</li>
                            <li class="list-group-item">
                                <span class="text-black-50">Experience Level: </span> @Model.ExperienceLevel
                            </li>
                            <li class="list-group-item">
                                <span class="text-black-50">Candidates: </span> @Model.Candidates.Count
                            </li>
                        </ul>
                    </div>

                    <div class="p-3">
                        <a href="/Recruiters/Edit?id=@Model.Id" class="btn btn-primary w-50">Edit</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function () {
        $(".active").removeClass("active");
        $("#recruit").addClass("active");
});</script>
