@model TemplateLayoutModel

@{
    ViewData["Title"] = "Template Details";
}

<section class="template-details">

    <h1>@Model.Name</h1>

    <h2>@Model.Description</h2>

    <span>Category: @Model.Category /</span>

    <span>Price: @Model.Price.00 USD</span>

    <img src="../../Images/gallery/(@Model.Id).jpg" />

    <div class="bg-text">
        <a href="/Orders/Create?templateId=@Model.Id">Order</a>
    </div>

</section>






<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#templates").addClass("active");
    });
</script>