@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

   
    <div class="container">

        <nav class="recruit-breadcrumb" aria-label="breadcrumb mt-5 mb-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="not-active" href="/RecruitZone/Index">Home</a></li>

                <li class="breadcrumb-item active" aria-current="page">Candidates</li>
            </ol>
        </nav>

        <div class="section">
            <div class="row">
                <div class="candidates-box col-lg-12">

                    <div class="text-center">
                        <h2 id="tables">Candidates</h2>
                    </div>

                    <div class="d-flex justify-content-center mb-5">
                        <a class="btn btn-block btn-primary text-white mb-3" href="/Candidates/Create">Create Candidate</a>
                    </div>

                    <div class="component">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Recruiter</th>
                                    <th scope="col">Interviews</th>
                                    <th scope="col">Skills</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var candidate in Model)
                                {
                    <tr class="table-light">
                        <th scope="row">@candidate.FirstName @candidate.LastName</th>
                        <td>@candidate.Recruiter.Name</td>
                        <td>@candidate.Interviews</td>
                        <td>
                            <ul class="list-unstyled p-0">
                                @foreach (var skill in candidate.CandidateSkills)
                                {
                <li>@skill.Name</li>
}
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-block btn-info text-white mb-3" href="/Skills/Add?id=@candidate.Id">Add Skill</a>
                        </td>

                        @if (candidate.Interviews == 0)
                        {
        <!--<td>
        <a class="btn btn-block btn-success text-white mb-3" href="/Interviews/Add?id=@candidate.Id">Add Interview</a>
    </td>-->}
                        <td>
                            <a class="btn btn-block btn-primary text-white mb-3" href="/Candidates/Details?id=@candidate.Id">Details</a>
                        </td>
                        <td>
                            <a class="btn btn-block btn-danger text-white mb-3" href="/Candidates/Delete?id=@candidate.Id">Delete</a>
                        </td>
                    </tr>
}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>$(document).ready(function () {
        $(".active").removeClass("active");
        $("#recruit").addClass("active");
});
    </script>